<!DOCTYPE html>
<html lang="en" ng-app="reddit">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Reddit Clone</title>

    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">



    <link href="style.css" rel="stylesheet">

</head>

<body ng-controller="posts">
    <nav class="navbar navbar-dark bg-inverse">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="#">Reddit Clone</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <button type="button" class="btn btn-default navbar-btn" ng-click="showme=true">
                            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span> Submit Post
                        </button>
                    </li>
                    <form class="navbar-form navbar-left" role="search">
                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="Search" ng-model="search">
                        </div>

                    </form>

                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="#" ng-click="sortType = 'date'">Date</a></li>
                            <li><a href="#" ng-click="sortType = 'votes'">Votes</a></li>
                            <li><a href="#" ng-click="sortType = 'title'">Title</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="#" ng-click="sortType = 'reverse'">Reverse</a></li>
                        </ul>
                    </li>
                </ul>

            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
    </nav>
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4 text-center">
                <h1>REDDIT</h1></div>
            <div class="col-md-4"></div>
        </div>
        <div class="row" ng-show="showme">
            <div class="col-sm-12">
                <form name="addPost" novalidate action="#" ng-submit="submit(addPost)">
                    <label for="title">Title: </label>
                    <input ng-model="addPost.title" type="text" id="title" required>
                    <br>
                    <label for="author">Author: </label>
                    <input ng-model="addPost.author" type="text" id="author" required>
                    <br>
                    <label for="description">description: </label>
                    <input ng-model="addPost.description" type="text" id="description" required>
                    <br>
                    <label for="image">Image Url: </label>
                    <input ng-model="addPost.image" type="url" id="image" required>
                    <input type="submit" value="Submit!" ng-click="showme=false">
                </form>
            </div>
        </div>

        <ul class="postUl" ng-repeat="post in posts | orderBy:sortType:sortReverse | filter:search">
            <li>
                <div class="row postBG" >
                    <div class="col-sm-4 col-md-4"> <img src="{{post.image}}" class="postImg" />
                    </div>
                    <div class="col-sm-8 col-md-8">
                        <div class="row">
                            <div class="col-sm-8">
                                <h2>{{post.title}} |
      <btn class="btn btn-default glyphicon glyphicon-chevron-up" ng-click="upVote(post)"></btn>
      <btn class="btn btn-default glyphicon glyphicon-chevron-down"  ng-click="downVote(post)"></btn>
       {{post.votes}}</h2>
                            </div>
                            <div class="col-sm-4">
                                <h3>By: {{post.author}}</h3>
                            </div>
                        </div>
                        <div class="row">
                            <p>
                                {{post.description}}
                            </p>
                        </div>
                        <div class="row text-center">
                            <span class="glyphicon glyphicon-calendar"> {{post.date | date:'medium'}}</span> | <span class="glyphicon glyphicon-comment"></span> Comment | <span class="glyphicon glyphicon-pencil"></span> Add Comment
                        </div>
                    </div>
</div>
                <ul class="commentUl">
                  <li>
                    <div class="row commentBG" ng-repeat="comment in post.comments">
                        <div class="row">
                            <div class="col-sm-6">
                                {{comment.title}}
                            </div>
                            <div class="col-sm-6">
                                By: {{comment.author}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                {{comment.text}}
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                              STARZ:  {{comment.cVotes}}
                            </div>
                            <div class="col-sm-6">
                                Date: {{comment.date | date:'medium'}}
                            </div>
                        </div>
                    </div>

                  </li>
                </ul>

            </li>
        </ul>

    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.5/angular.js"></script>
    <script type="text/javascript" src="app.js"></script>
</body>

</html>
