li {
list-style:none;
}
.postImg {
  width: 30vh;
  height: 30vh;
}
.postBG {
  background-color: rgba(75, 100, 136, 0.62);
  padding: 10px;
  border-radius: 6px;
  margin: 0 0 20px 0;
}
.commentBG {
  background-color: rgba(160, 255, 43, 0.82);
  padding: 10px;
  border-radius: 6px;
  margin: 0 0 10px 0;
}
.afterUp {
  color: green;
}
.afterDown {
  color: red;
}
